NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

SENDER_1_NAME=
SENDER_1_EMAIL=
SENDER_1_USER=
SENDER_1_PASS=

SENDER_2_NAME=
SENDER_2_EMAIL=
SENDER_2_USER=
SENDER_2_PASS=

SENDER_3_NAME=
SENDER_3_EMAIL=
SENDER_3_USER=
SENDER_3_PASS=

SENDER_4_NAME=
SENDER_4_EMAIL=
SENDER_4_USER=
SENDER_4_PASS=
